body {
  background: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: maroon;
  text-align: center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: green;
}
.assign img {
  width: 200px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: midnightblue;
}
 .assign img {
  padding: 10px;
  border: 2px solid midnightblue;
