body {
  background: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1:hover {
  color: yellow;
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: black;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: green;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px dashed skyblue;
}
